@font-face {
    font-family: sf;
    src: url(../fonts/sf.ttf);
}

@font-face {
    font-family: sfBold;
    src: url(../fonts/sfBold.ttf);
}

@font-face {
    font-family: sfThin;
    src: url(../fonts/sfThin.ttf);
}

@font-face {
    font-family: sfUltraThin;
    src: url(../fonts/sfUltraThin.ttf);
}



html {
	background: url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}

@media only screen and (max-width: 1026px) {
    #particles-js {
        display: none;
    }
}

.info {
	z-index: 9999;
	height: 99%;
	width: 99%;
	position: fixed;
}

#credit {
	font-family: sfThin;
	z-index: 9999;
	position: absolute;
	color: azure;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 15px;
}

.t-a {
	z-index: 9999;
	height: 300px;
	width: 500px;
	left: 50%;
	margin-left: -105px;
	top: 50%;
	margin-top: -130px;
	position: fixed;
	
}

h1.title{
	z-index: 9999;
	font-family: 'sfUltraThin', sans-serif;
	font-size: 25pt;
	color: azure;
	text-shadow: 0px 0px 10px rgba(0,0,0,1);
    text-align: left;
    width: 99%;
    position: fixed;
}

h1.artist {
	z-index: 9999;
	font-family: 'sfThin', sans-serif;
	font-size: 15pt;
	color: azure;
	text-shadow: 0px 0px 10px rgba(0,0,0,1);
    text-align: left;
    width: 99%;
    position: fixed;
	top: 50%;
	margin-top: -80px;
}

/* Cover */
.cover {
	position: fixed;
	height: 250px;
	top: 50%;
	margin-top: -135px;
	left: 50%;
	margin-left: -375px;
	border-radius: 300px;
	border: 1px solid rgba(0,0,0,0.5);
}
	
.audio-player,
.audio-player div,
.audio-player h1,
.audio-player a,
.audio-player img,
.audio-player span,
.audio-player button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	z-index: 9999;
}

div.audio-player {
	position: fixed;
	width: 500px;
	height: 120px;
	top: 50%;
	margin-top: -30px;
	left: 50%;
	margin-left: -100px;
}

/* Title */
.audio-player h1 {
	position: absolute;
	top: 37px;
	left: 165px;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ececec;
	text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}



/* Buttons */
.mejs-controls .mejs-button button {
	cursor: pointer;
	display: block;
	position: absolute;
	text-indent: -9999px;
}

/* Play & Pause */
.mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button {
	width: 21px;
	height: 21px;
	top: 35px;
	left: 0px;
	background: transparent url(../img/play-pause.png) 0 0;
}

.mejs-controls .mejs-pause button { background-position:0 -21px; }

/* Mute & Unmute */
.mejs-controls .mejs-mute button,
.mejs-controls .mejs-unmute button {
	width: 20px;
	height: 20px;
	top: 70px;
	left: 0px;
	background: transparent url(../img/mute-unmute.png) 0 0;
	margin-right: 5px;
}

.mejs-controls .mejs-unmute button { background-position: 0 -21px; }

/* Volume Slider */
.mejs-controls div.mejs-horizontal-volume-slider {
	position: absolute;
	top: 71px;
	left: 20px;
	cursor: pointer;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	width: 330px;
	height: 8px;
	background: rgba(0,0,0,0.1);
	margin-left: 4px;
	margin-top: 4px;
	
	-webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
	-moz-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
	box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	position: absolute;
	width: 0;
	height: 6px;
	top: 1px;
	left: 1px;
	background: rgba(255,255,255,0.3);
	margin-left: 4px;
	margin-top: 4px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* Progress Slider */
.mejs-controls div.mejs-time-rail { width: 350px; }

.mejs-controls .mejs-time-rail span {
	position: absolute;
	display: block;
	width: 350px;
	height: 8px;
	left: 0;
	bottom: 0;
	cursor: pointer;
}

.mejs-controls .mejs-time-rail .mejs-time-total { }

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	width: 350px;
	background: rgba(0,0,0,0.1);

	-webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
	-moz-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
	box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
	position: absolute;
	width: 350px;
	height: 8px;
	top: 1px;
	left: 1px;
	background: rgba(255,255,255,0.3);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* Volume Slider & Progress Bar Handle */
.mejs-controls .mejs-time-rail .mejs-time-handle,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	position: absolute;
	display: block;
	width: 12px;
	height: 14px;
	top: 0px;
	background: url(../img/handle.png) no-repeat;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	margin-top: 5px;
	margin-left: 4px;
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
	margin-left: 3px;
	margin-top: 0px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle { top: -2px; }

/* Time Float Box */
.mejs-controls .mejs-time-rail .mejs-time-float {
	position: absolute;
	display: none;
	width: 33px;
	height: 23px;
	top: -26px;
	margin-left: -17px;
	background: url(../img/time-box.png);
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
	width: 33px;
	display: block;
	left: 0;
	top: 4px;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-align: center;
}